.set-count-screen{
  color: #22f3d0;
  border: 2px solid #22f3d0;
  border-radius: 8px;
  width: 90%;
  margin: 10px auto;
}

.set-count-screen span {
  font-size: large;
  font-weight: bold;
  margin-right: 8px;
}

.set-count-screen{
  color: #22f3d0;
  border: 2px solid #22f3d0;
  border-radius: 8px;
  width: 90%;
  margin: 10px auto;
}
