button,
button:active,
button:focus  {
  border:none;
}

.count-block {
  width: 25%;
  border: 2px solid #22f3d0;
  border-radius: 8px;
  height: 14%;
}

.count-screen, .count-button{
  color: #22f3d0;
  border: 2px solid #22f3d0;
  border-radius: 8px;
  width: 90%;
  margin: 10px auto;
}

.count-screen span {
  font-size: xx-large;
  font-weight: bold;
}

.value {
  margin-bottom: 5px;
  height: 40px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.count-button button {
  margin: 10px;
  border-radius: 8px;
  background-color: #22f3d0;
  color: #141e1e;
  width: 80px;
  height: 30px;
  font-size: x-large;
  font-weight: bold;
}

.count-button button:hover {
  background-color: #199a85;
  color: #495d5d;
}

.count-button button:active {
  background-color: #113832;
  color: #9dafaf;
}
