button,
button:active,
button:focus  {
  border:none;
}

.count-block {
  width: 25%;
  border: 2px solid #22f3d0;
  border-radius: 8px;
  height: 14%;
}

.count-screen, .count-button{
  color: #22f3d0;
  border: 2px solid #22f3d0;
  border-radius: 8px;
  width: 90%;
  margin: 10px auto;
}

.count-screen span {
  font-size: xx-large;
  font-weight: bold;
}

.value {
  margin-bottom: 5px;
  height: 40px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.value .active {
  color: red;
}
